.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Fondo más oscuro */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background: white;
    border-radius: 16px;
    padding: 40px;
    width: 70%; /* Ajuste del ancho */
    max-height: 85vh;
    overflow-y: auto;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); /* Sombra suave */
    position: relative;
    display: flex;
    flex-direction: column;
}

/* Estilos comunes del header */
.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 10px;
}

.modal-header h1 {
    margin: 0;
    font-size: 24px;
    color: #4CAF50;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    flex-grow: 1;
}

/* Botón de cierre */
.close-button {
    background: none;
    border: none;
    font-size: 16px;
    font-weight: bold;
    color: #555;
    cursor: pointer;
    transition: color 0.3s;
    align-self: flex-start;
    padding: 0;
    margin: 0;
    width: 10%;
}

.close-button:hover {
    color: #333;
}

/* Estilo del cuerpo del modal */
.modal-body {
    line-height: 1.8;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    color: #333;
    text-align: justify;
}

/* Estilos específicos para Información */
.modal-informacion .modal-body {
    column-count: 2;
    column-gap: 30px;
}

.modal-body h2, .modal-body h3 {
    color: #4CAF50;
    margin-bottom: 8px;
    margin-top: 0;
    font-weight: 500;
}

.modal-body ul {
    padding-left: 20px;
    list-style: disc;
    margin-top: 0;
}

.modal-body p {
    margin-bottom: 16px;
}

/* Estilos adicionales para el modal de Tutorial */
.modal-tutorial .tutorial-images {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.modal-tutorial .tutorial-image {
    width: 45%; /* Ajusta el ancho de las imágenes */
    height: auto;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

/* Elimina bordes al hacer foco en los botones */
button:focus {
    outline: none;
}
