form {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: auto;
    margin-top: 50px;
}

h2 {
    margin-bottom: 20px;
    color: #333;
}

label {
    display: block;
    margin-bottom: 10px;
    color: #555;
}

.input-container {
    position: relative;
}

input[type="text"],
input[type="number"] {
    width: 100%; /* Ajustar el tamaño para todo el contenedor */
    padding: 10px 40px 10px 10px; /* Agregar espacio para el ícono */
    margin-top: 5px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}

.info-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    background-color: hsl(212, 29%, 60%);
    color: white;
    text-align: center;
    font-size: 12px;
    line-height: 16px;
}

.tooltip {
    visibility: hidden;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    position: absolute;
    bottom: 125%; /* Posicionar el tooltip por encima del ícono */
    width: 120px;
    opacity: 0;
    transition: opacity 0.3s;
}

.info-icon:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

/* Cambiar el color del placeholder */
input::placeholder {
    color: #b0b0b0; /* Color gris más claro */
    opacity: 1; /* Para asegurar que el color se vea correctamente */
}

/* Para navegadores más antiguos (compatibilidad) */
input:-ms-input-placeholder {
    color: #b0b0b0;
}

input::-ms-input-placeholder {
    color: #b0b0b0;
}
