html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
}

.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px; 
    box-sizing: border-box;
    max-height: 550px;
}

form {
    margin-top: 5%;
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 100%; 
    max-width: 400px; 
    max-height: 70vh; 
    overflow-y:visible; 
    overflow-x: hidden;
}

h2 {
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 10px;
    color: #555;
}

.input-container {
    position: relative;
}

input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

button:hover {
    background-color: #bed8bf;
}

.info-icon {
    position: absolute;
    top: 40%;
    right: 0px;
    transform: translateY(-50%);
    cursor: pointer;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    background-color: hsl(212, 29%, 60%);
    color: white;
    text-align: center;
    font-size: 12px;
    line-height: 16px;
}

.tooltip {
    visibility: hidden;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    position: absolute;
    bottom: 125%;
    width: 120px;
    opacity: 0;
    transition: opacity 0.3s;
}

.info-icon:hover .tooltip {
    visibility:visible;
    opacity: 1;

}
